__pycashe__
*.pyc
joradp_pdfs
joradp_pdfs_b
.ipynb_checkpoints
*.ipynb
pages_scraping_logs
scraping_logs
BDD_backup.sql
pdf_scraping_logs.log
pdf_text_extraction_logs_after.log
pdf_text_extraction_logs_before.log
env
conversion.log
joradp_pdfs_c
joradp_pdfs_houssem
kita3_scraping_logs
pdf_page_fxing_logs
pdf_text_extraction_logs